<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-button routerLink="/login"> <mat-icon>lock_open</mat-icon> Ingresar</button>
    <button mat-button routerLink="/registro"> <mat-icon>person_add</mat-icon> Registrarse</button>
    <button mat-button routerLink="/listado"> <mat-icon>list</mat-icon> Listado de personajes</button>
    <button mat-button routerLink="/listadoEpisodios"> <mat-icon>list</mat-icon> Listado de episodios</button>

    <span class="example-spacer"></span>
        <button mat-button routerLink="/favoritos"> <mat-icon>star</mat-icon> Favoritos</button>
        <button mat-button routerLink="/logout"> <mat-icon>lock</mat-icon> Cerrer sesión</button>
        <button mat-button routerLink="/acerca"> <mat-icon>account_circle</mat-icon> Acerca</button>
  </mat-toolbar-row>
</mat-toolbar>






<!--
<ul>
  <li><a routerLink="/login"> Ingresar </a> </li>
  <li><a routerLink="/listado"> Listado </a>   </li>
  <li><a routerLink="/registro"> Registro </a>     </li>
  
 <li style="float:right"><a class="active" routerLink="/favoritos"> Favoritos </a>   </li>
  <li style="float:right"><a class="active" routerLink="/logout"> Cerrar sesión </a></li>

  <button mat-raised-button color="primary" style="margin-right:5px; float:right; height: 60px;" routerLink="/favoritos">Favoritos</button>
  <button mat-raised-button color="primary" style="margin-right:5px; float:right; height: 60px;" routerLink="/logout">Cerrar sesión</button>
  
</ul>
-->